In [27]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
from sklearn.model_selection import train_test_split

In [24]:
#Loading data
url = "http://www0.cs.ucl.ac.uk/staff/M.Herbster/boston-filter/Boston-filtered.csv"
data = pd.read_csv(url)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [25]:
data = data.to_numpy()

In [28]:
#Splitting data into X and Y
x = data[:,0:12]
y = data[:,12].reshape(506,1)

#Randomly splitting X and Y into test and train data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.33, random_state =42)

In [38]:
#Question 4a, Naive regression 
naivextrain = np.ones((339,1))
naivextest = np.ones((167,1)) 

#Running linear regression on naive training data 
naiveW = np.linalg.inv((naivextrain.T@naivextrain))@(naivextrain.T@y_train)
y_train_average = np.average(y_train)

#We can see that the the naive approach fits the data with the mean value of the training set, W = mean of train y

array([[22.97079646]])

In [45]:
#Mean squared error function
def MSEnp(y,yhat,n):
    sqrdiff = (y - yhat)**2
    SSE = np.sum(sqrdiff)
    meanSE = SSE/n
    return meanSE

In [52]:
#Predicting on the training set using naive regression
yhat_naive_train = naivextrain @ naiveW

#Calculating MSE for training set
MSE_naive_train = MSEnp(y_train, yhat_naive_train, 339)

#Predicting on the test set using naive regression
yhat_naive_test = naivextest @ naiveW

#Calculating MSE for test set
MSE_naive_test = MSEnp(y_test, yhat_naive_test, 167)

print(MSE_naive_train, MSE_naive_test)

88.14436839219985 77.43966001117039

In [87]:
#Question 4c
#Separating training data into 12 separate attributes each with a ones column, (xi, 1)
x_train_1 = np.concatenate((x_train[:,0].reshape(339,1),naivextrain), axis = 1)
x_train_2 = np.concatenate((x_train[:,1].reshape(339,1),naivextrain), axis = 1)
x_train_3 = np.concatenate((x_train[:,2].reshape(339,1),naivextrain), axis = 1) 
x_train_4 = np.concatenate((x_train[:,3].reshape(339,1),naivextrain), axis = 1)
x_train_5 = np.concatenate((x_train[:,4].reshape(339,1),naivextrain), axis = 1)
x_train_6 = np.concatenate((x_train[:,5].reshape(339,1),naivextrain), axis = 1)
x_train_7 = np.concatenate((x_train[:,6].reshape(339,1),naivextrain), axis = 1)
x_train_8 = np.concatenate((x_train[:,7].reshape(339,1),naivextrain), axis = 1)
x_train_9 = np.concatenate((x_train[:,8].reshape(339,1),naivextrain), axis = 1)
x_train_10 = np.concatenate((x_train[:,9].reshape(339,1),naivextrain), axis = 1)
x_train_11 = np.concatenate((x_train[:,10].reshape(339,1),naivextrain), axis = 1)
x_train_12 = np.concatenate((x_train[:,11].reshape(339,1),naivextrain), axis = 1)

#Carrying out linear regression for each single attribute, calculating W vector for each attribute
x_train_1_w = np.linalg.inv((x_train_1.T@x_train_1))@(x_train_1.T@y_train)
x_train_2_w = np.linalg.inv((x_train_2.T@x_train_2))@(x_train_2.T@y_train)
x_train_3_w = np.linalg.inv((x_train_3.T@x_train_3))@(x_train_3.T@y_train)
x_train_4_w = np.linalg.inv((x_train_4.T@x_train_4))@(x_train_4.T@y_train)
x_train_5_w = np.linalg.inv((x_train_5.T@x_train_5))@(x_train_5.T@y_train)
x_train_6_w = np.linalg.inv((x_train_6.T@x_train_6))@(x_train_6.T@y_train)
x_train_7_w = np.linalg.inv((x_train_7.T@x_train_7))@(x_train_7.T@y_train)
x_train_8_w = np.linalg.inv((x_train_8.T@x_train_8))@(x_train_8.T@y_train)
x_train_9_w = np.linalg.inv((x_train_9.T@x_train_9))@(x_train_9.T@y_train)
x_train_10_w = np.linalg.inv((x_train_10.T@x_train_10))@(x_train_10.T@y_train)
x_train_11_w = np.linalg.inv((x_train_11.T@x_train_11))@(x_train_11.T@y_train)
x_train_12_w = np.linalg.inv((x_train_12.T@x_train_12))@(x_train_12.T@y_train)

#Predicting on training data using the separate attributes and their respective W vectors
yhat_1_train = x_train_1 @ x_train_1_w
yhat_2_train = x_train_2 @ x_train_2_w
yhat_3_train = x_train_3 @ x_train_3_w
yhat_4_train = x_train_4 @ x_train_4_w
yhat_5_train = x_train_5 @ x_train_5_w
yhat_6_train = x_train_6 @ x_train_6_w
yhat_7_train = x_train_7 @ x_train_7_w
yhat_8_train = x_train_8 @ x_train_8_w
yhat_9_train = x_train_9 @ x_train_9_w
yhat_10_train = x_train_10 @ x_train_10_w
yhat_11_train = x_train_11 @ x_train_11_w
yhat_12_train = x_train_12 @ x_train_12_w

#Array of MSE on training data for predictions using each attribute
MSE_separate_attributes = [MSEnp(y_train,yhat_1_train,339),MSEnp(y_train,yhat_2_train,339),MSEnp(y_train,yhat_3_train,339),MSEnp(y_train,yhat_4_train,339),MSEnp(y_train,yhat_5_train,339),MSEnp(y_train,yhat_6_train,339),MSEnp(y_train,yhat_7_train,339),MSEnp(y_train,yhat_8_train,339),MSEnp(y_train,yhat_9_train,339),MSEnp(y_train,yhat_10_train,339),MSEnp(y_train,yhat_11_train,339),MSEnp(y_train,yhat_12_train,339)]
MSE_separate_attributes

[75.735765615802,
 78.25253836842792,
 69.82525107739114,
 83.3629444189501,
 72.71111395027106,
 45.82902170074135,
 76.70268664711703,
 82.79605527542473,
 75.2957076918212,
 70.31360346223349,
 66.96058934959608,
 38.71120361270592]

In [80]:
#Question 4d
#Linear regression using ALL attributes
#Adding a column of ones on the end of training data
x_train_all = np.concatenate((x_train, naivextrain), axis = 1)
W = np.linalg.inv((x_train_all.T@x_train_all))@(x_train_all.T@y_train)

#Running prediction on training data using W vector computed in previous step
yhat_all_train = x_train_all @ W 
#Calculating MSE on train data
MSE_all_train = MSEnp(y_train, yhat_all_train, 339)



#Adding a column of ones on end of test data
x_test_all = np.concatenate((x_test, naivextest), axis=1)
#Running prediction on training data using W vector computed in previous step
yhat_all_test = x_test_all @ W 
#Calculating MSE on train data
MSE_all_test = MSEnp(y_test, yhat_all_test, 167)

print(MSE_all_train, MSE_all_test)

23.833934895983464 20.4600226224327